@import url("header.css");
@import url("character.css");
@import url("about.css");
@import url("video.css");
@import url("contact.css");
:root {
  --loading-color: #00b3ff;
  --loading-border-color: rgba(23, 224, 255, 0.615);
  --light: #b2b4b4;
  --shadow: #151414;
  --shadow-light: #454646;
  --bgc: #eafbff;
  --door-border-color: #454444;
  --bgc-blur: #e7fdfe2f;
  --text: #2c2d36;
  --clr-toggle: #4b8ecd;
  --main-color: #4b8ecd;
  --secondary-color: #00b3ff;
  --secondary-green: #0eee15;
  --wrapper-orange: rgb(243, 171, 108);
  --wrapper-blue: rgb(101, 217, 249);
  --wrapper-purple: rgb(220, 105, 255);
  --wrapper-green: rgb(125, 223, 154);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  transition: 0.2s;
}

li,
a {
  list-style: none;
  text-decoration: none;
}

p {
  margin: 0;
}

.dark-mode {
  --bgc: #0b0a0c;
  --bgc-blur: #343537;
  --text: #f1f1f1f7;
  --clr-toggle: #fa725a;
}
.dark-mode .navbar .toggle::before {
  left: 2.65rem;
}
.dark-mode .header-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: brightness(80%);
          backdrop-filter: brightness(80%);
}

.title {
  margin-top: 2rem;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  color: var(--text);
  opacity: 0.7;
  background-color: var(--bgc);
}
.title h1 {
  font-size: 1.8rem;
  font-weight: 600;
  padding: 1rem 2rem;
  text-align: center;
  color: var(--text);
  min-width: 30vw;
  margin: 0;
  cursor: pointer;
}
.title p {
  font-size: 0;
  width: 0vw;
  text-indent: 2rem;
  font-weight: 500;
  padding: 1rem;
  background-color: var(--clr-toggle);
  box-shadow: 0 0 20px var(--clr-toggle);
}
.title:hover p {
  font-size: 1rem;
  width: 50vw;
  background-color: var(--bgc);
  box-shadow: 0 0 0;
}

.loading-page {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgb(2, 7, 8);
  -webkit-animation: loading 4s ease-in-out;
          animation: loading 4s ease-in-out;
  z-index: 100;
}
.loading-page.complete {
  transform: scale(2);
  transition: all ease-in-out 2s 5s;
  display: none;
}
.loading-page.complete .door-in {
  -webkit-animation: opening 2s 2.5s ease-in-out forwards;
          animation: opening 2s 2.5s ease-in-out forwards;
}
.loading-page .door {
  position: relative;
  display: flex;
  min-width: 46vh;
  min-height: 70vh;
  border: 5vh solid var(--door-border-color);
  border-right: 5vh solid var(--shadow);
  border-bottom: 5vh solid var(--shadow);
  border-radius: 2rem;
  box-shadow: 10px 10px 100px var(--shadow-light);
  background-color: #fff;
}
.loading-page .door .door-style {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(100deg, rgb(30, 45, 123), rgb(19, 22, 32));
  min-width: 100%;
  min-height: 100%;
  padding: 2rem;
  box-shadow: inset 1px 1px 10px var(--shadow);
  transform-origin: left;
}
.loading-page .door .door-style .door-line {
  position: relative;
  left: 2vh;
  width: 20%;
  height: 80%;
  border: 1vh solid rgba(119, 119, 119, 0.186);
  border-radius: 1vh;
}
.loading-page .door .door-style .door-handle {
  width: 2vh;
  height: 2vh;
  transform: translateX(3vh);
  border-radius: 50%;
  background-color: rgb(129, 76, 11);
  box-shadow: inset 2px 2px 5px var(--light), 2px 2px 1px var(--shadow);
}
.loading-page .door .door-light {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 12vh;
  height: 12vh;
  border-radius: 50%;
  border: 1.5vh solid var(--door-border-color);
  transform: translateX(13vh) translateY(-13vh);
  background: radial-gradient(circle at center, rgb(143, 4, 4), rgb(1, 1, 1));
  box-shadow: 2px 2px 20px var(--shadow);
}
.loading-page .door .door-light .light {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  background: radial-gradient(circle at center, #f66f07 1%, #f73e3e 40%, #d70202 80%);
  box-shadow: 0 0 45px red, 0 0 75px red, 0 0 135px red;
  -webkit-animation: light 1.2s ease infinite;
          animation: light 1.2s ease infinite;
}
.loading-page .door::after {
  content: "Monster, Inc";
  position: absolute;
  width: 120vw;
  font-size: 28vh;
  z-index: -1;
  top: 0vh;
  left: -35vw;
  font-weight: 900;
  color: #91d8eb;
  text-shadow: 0 0 5px var(--loading-color), 0 0 15px var(--loading-color), 0 0 30px var(--loading-color), 0 0 60px var(--loading-color), 0 0 80px var(--loading-color), 0 0 120px var(--loading-color);
}
.loading-page .glowing {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loading-page .glowing .glowing-txt {
  font-size: 1.8rem;
  color: #91d8eb;
  letter-spacing: 0.5rem;
  text-align: center;
  font-weight: 700;
  text-shadow: 0 0 5px var(--loading-color), 0 0 15px var(--loading-color), 0 0 30px var(--loading-color), 0 0 60px var(--loading-color), 0 0 80px var(--loading-color), 0 0 120px var(--loading-color);
}
.loading-page .glowing .glowing-txt .faulty-letter {
  -webkit-animation: loadding-text 0.6s 0.2s linear infinite;
          animation: loadding-text 0.6s 0.2s linear infinite;
}
.loading-page .glowing .loading {
  margin-top: 10rem;
  width: 80%;
  height: 4px;
  background-color: none;
  border-radius: 1rem;
  box-shadow: 0 0 5px var(--loading-color), 0 0 120px var(--loading-color);
}
.loading-page .glowing .loading .bar {
  background-color: var(--loading-color);
  width: 0%;
  height: 5px;
  border-radius: 1rem;
  box-shadow: 0 0 5px var(--loading-color), 0 0 15px var(--loading-color), 0 0 30px var(--loading-color), 0 0 60px var(--loading-color), 0 0 80px var(--loading-color), 0 0 120px var(--loading-color);
}
.loading-page .glowing.complete {
  transition-duration: 1s;
  transition-delay: 1s;
  opacity: 0;
}

@-webkit-keyframes loadding-text {
  3% {
    text-shadow: 5px 5px 13px var(--loading-color);
    opacity: 0.3;
  }
  14% {
    text-shadow: 5px 5px 13px var(--loading-color);
    opacity: 0.6;
  }
  88% {
    text-shadow: 5px 5px 13px var(--loading-color);
    opacity: 0.1;
  }
}

@keyframes loadding-text {
  3% {
    text-shadow: 5px 5px 13px var(--loading-color);
    opacity: 0.3;
  }
  14% {
    text-shadow: 5px 5px 13px var(--loading-color);
    opacity: 0.6;
  }
  88% {
    text-shadow: 5px 5px 13px var(--loading-color);
    opacity: 0.1;
  }
}
@-webkit-keyframes loadding-box {
  60% {
    box-shadow: 10px 10px 105px var(--loading-color);
  }
  90% {
    box-shadow: 0 0 85px var(--loading-color);
  }
}
@keyframes loadding-box {
  60% {
    box-shadow: 10px 10px 105px var(--loading-color);
  }
  90% {
    box-shadow: 0 0 85px var(--loading-color);
  }
}
@-webkit-keyframes light {
  30% {
    box-shadow: 0px 0px 25px red, 0px 0px 75px red, 0px 0px 105px red;
  }
  90% {
    box-shadow: 0px 0px 85px red;
    opacity: 0.8;
  }
}
@keyframes light {
  30% {
    box-shadow: 0px 0px 25px red, 0px 0px 75px red, 0px 0px 105px red;
  }
  90% {
    box-shadow: 0px 0px 85px red;
    opacity: 0.8;
  }
}
@-webkit-keyframes opening {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}
@keyframes opening {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}
@-webkit-keyframes jumping {
  30% {
    transform: translateY(-10px);
    opacity: 0.2;
  }
  90% {
    transform: translateY(0px);
    opacity: 0.2;
  }
}
@keyframes jumping {
  30% {
    transform: translateY(-10px);
    opacity: 0.2;
  }
  90% {
    transform: translateY(0px);
    opacity: 0.2;
  }
}
@-webkit-keyframes logo {
  0% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: translateY(20%);
    opacity: 0.85;
    -webkit-backdrop-filter: blur(1.5px);
            backdrop-filter: blur(1.5px);
  }
}
@keyframes logo {
  0% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: translateY(20%);
    opacity: 0.85;
    -webkit-backdrop-filter: blur(1.5px);
            backdrop-filter: blur(1.5px);
  }
}
@-webkit-keyframes box-light {
  50% {
    box-shadow: 0px 0px 10px rgb(136, 239, 255), 0px 0px 15px rgb(136, 239, 255), 0px 0px 15px rgb(136, 239, 255) inset;
  }
  0% {
    box-shadow: 0px 0px 15px rgb(136, 239, 255), 0px 0px 30px rgb(136, 239, 255), 0px 0px 15px rgb(136, 239, 255) inset;
  }
}
@keyframes box-light {
  50% {
    box-shadow: 0px 0px 10px rgb(136, 239, 255), 0px 0px 15px rgb(136, 239, 255), 0px 0px 15px rgb(136, 239, 255) inset;
  }
  0% {
    box-shadow: 0px 0px 15px rgb(136, 239, 255), 0px 0px 30px rgb(136, 239, 255), 0px 0px 15px rgb(136, 239, 255) inset;
  }
}
@-webkit-keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@media (max-width: 990px) {
  .titleh1 {
    font-size: 1.5rem;
  }
  .dark-mode .navbar .toggle::before {
    left: 2.25rem;
  }
}
@media (max-width: 575px) {
  .title {
    border-radius: 1rem;
  }
  .title h1 {
    font-size: 1.3rem;
  }
  .title p {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */